body {
  display: flex;
  flex-direction: column;
  align-items: center;    /* Keeps everything centered horizontally */
  justify-content: flex-start; /* Moves everything to the top */
  padding-top: 40px;      /* Optional: Gives it some "breathing room" at the top */
  min-height: 100vh;
  margin: 0;
  background-color: #d6f8ff;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 15px;
  padding-top: 15px;
}

div {
    justify-content: center;
    align-items: center;
    text-align: left;
}

#education {
    text-align: center;
    padding-bottom: 10px;
}

#projects {
    padding-bottom: 15px;
}

footer {
    padding-bottom: 20px;
}

#socials {
    padding-bottom: 25px;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
}

.long-p {
    padding-left: 80px;
    padding-right: 80px;
}

footer {
    padding-top: 20px;
}

h3 {
    padding-top: 20px;
}
